
        * {
            scroll-behavior: smooth;
            transition: 1500ms;
            scrollbar-width: none;
            /* Hide scrollbar in Firefox */
            -ms-overflow-style: none;
        }

        *::-webkit-scrollbar {
            display: none;
        }


        body {
            width: fit-content;
            scrollbar-width: none;
            /* Hide scrollbar in Firefox */
            -ms-overflow-style: none;
            font-family: 'Outfit'

        }





        .container {
            width: 100%;
        }

        #side-button {
            display: none;
        }

        .paralax {
            display: block;
            /* Enable flexbox layout */
            /* Align items in a row */
            overflow: clip;
            /* Enable horizontal scrolling */
            scroll-snap-type: x mandatory;
            /* Enable snap scrolling */
            width: 100vw;
            /* Ensure the container takes up the full viewport width */
            height: fit-content;
            scrollbar-width: none;
            /* Hide scrollbar in Firefox */
            -ms-overflow-style: none;
            /* Hide scrollbar in IE and Edge */
            /* Ensure the container takes up the full viewport height */
        }

        .paralax>section {
            display: flex;
            /* Prevent sections from growing or shrinking */
            width: 85vw;
            height: 100%;
            /* Ensure each section takes up the full viewport width */
            overflow: clip;
            /* Ensure each section takes up the full viewport height */
            scroll-snap-align: start;
            /* Snap to the start of each section */
            scrollbar-width: none;
            /* Hide scrollbar in Firefox */
            -ms-overflow-style: none;
        }

        .paralax::-webkit-scrollbar {
            display: none;
            /* Hide scrollbar in WebKit browsers */
        }

        .paralax>section::-webkit-scrollbar {
            display: none;
        }


        #loader1 {
            height: 700px;
            z-index: 10;


        }

        #links {
            width: 50%;
            display: flexbox;
            flex-direction: row;
            position: fixed;
            right: -10%;

        }



        #side-menu {
            background-color: #ffffff;
            color: rgb(19, 19, 19);
            height: 100vh;
            width: 80%;
            position: fixed;
            transition-duration: 700ms;
            top: 0;
            z-index: 499;
            transform: translateX(-100%);
        }

        #side-menu>nav {
            display: block;
            color: #fff;
        }

        .side-links {
            padding: 3%;
            border-radius: 55px;
        }

        .side-links:hover {
            background-color: #2c3e50;
            color: rgb(0, 185, 65);
            cursor: pointer;
        }

        nav>a {
            border-radius: 35px;
            color: rgb(0, 185, 65);
            ;

        }

        nav>a:hover {
            cursor: pointer;
        }



        @media only screen and (min-width: 320px) {
            #sec-testimonial {
                width: 98%;
            }

            #phno {
                display: none;
            }



            #img-gallery {

                width: 100%;
                margin: auto;
            }

            .scroll-container {
                width: 100%;
                height: 50rem;
                overflow: hidden;
                position: relative;
                margin-top: 37%;
            }

            .scroll-content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: max-content;
                padding-bottom: 25%;
            }

            #links {
                display: none;
            }

            #head-logo {
                margin-left: 4%;
                margin-top: 5%;
            }

            #head-logo>img {
                width: 30%;
            }

            #side-button {
                display: flex;
                top: -3%;
                margin-top: 2%;
            }



            #f-logo {
                display: none;
            }

            #f-link {
                display: none;
            }

            #f-logo,
            #f-link,
            #fs-link {
                margin-top: -3%;
            }

        }


        @media only screen and (min-width: 768px) {
            .scroll-container {
                width: 100%;
                height: 50rem;
                overflow: hidden;
                position: relative;
                margin-top: 7%;
            }

            #head-logo>img {
                width: 20%;
            }

            #img-gallery {

                width: 100%;
                margin: auto;
            }

            #sec-testimonial {
                width: 90%;
            }

            #head-logo {
                margin-left: 3%;
                margin-top: 2.3%;
            }

            #side-button {
                display: flex;
                top: -3%;
                margin-top: 2%;
            }




            .scroll-content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: max-content;
                padding-bottom: 25%;
            }

            #f-logo {
                display: flex;
            }

            #f-link {
                display: flex;
            }

            #f-logo,
            #f-link,
            #fs-link {
                margin-top: 0%;
            }

        }

        .scroll-content {
            padding-top: 2%;
        }

        @media only screen and (min-width: 1024px) {
            .scroll-container {
                width: 100%;
                height: 70rem;
                overflow: hidden;
                position: relative;
                margin-top: 2%;
            }

            #phno {
                display: flex;
            }

            #img-gallery {

                width: 40%;
                margin: auto;
            }

            #sec-testimonial {
                margin-top: -5%;
                padding-bottom: 5%;
                width: 80%;
            }

            .scroll-content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: max-content;
                padding-bottom: 25%;
            }



            #side-button {
                display: none;
            }

            #head-logo {
                margin-left: 5%;
                margin-top: 1%;
            }





            #links {
                display: inline;
                width: 50%;
                display: flexbox;
                flex-direction: row;
                position: fixed;
                right: -4%;
                margin-top: 5%;

            }

            #print {
                margin-top: -9.3%;
            }


        }

        @media only screen and (min-width: 1440px) {
            #head-logo {
                margin-left: 5%;
                margin-top: 1%;
            }


            #img-gallery {

                width: 37%;
                margin: auto;
            }


            #links {
                display: inline;
                width: 50%;
                display: flexbox;
                flex-direction: row;
                position: fixed;
                right: -10%;
                margin-top: 4%;

            }

        }

        .txt-btn {
            padding: 0.5%;
            border-radius: 25px;
            padding-left: 1%;
            padding-right: 1%;
            transition-duration: 1000;
            margin-top: 3%;
        }

        .txt-btn:hover {
            color: #fff;
            background-color: rgb(0, 185, 65);
            cursor: pointer;

        }

        .box-type:hover {
            cursor: pointer;

        }

        .swiper-container {
            width: 100%;
            height: 400px;
            /* Adjust height if needed */
            overflow: hidden;
            padding: 20px 0;
        }

        .swiper-wrapper {
            display: flex;
            transition-property: transform;
            margin: auto;
        }

        .swiper-slide {
            flex-shrink: 0;
            width: 100%;
            /* Adjust width if needed */
            height: 100%;
            /* Ensure slides are properly sized */
            transition-duration: 100ms;
            border-radius: 10px;
        }

        section {
            margin: auto;
        }

        .header {
            background-color: #00111f;
            width: 100vw;
            height: 10%;
            box-shadow: 0px 2px 25px rgb(0, 5, 21)
        }

        footer {
            width: 100vw;
            background-color: #ffffff;
            color: #1f2021;
        }

        .footer {
            background-color: #ffffff;

            height: 10%;
            color: #1f2021;

        }

        .swiper-slide:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        .swiper-pagination-bullet {
            background-color: #00111f;
            opacity: 1;
            /* Ensure bullets are fully visible */
            border: 1px solid rgb(0, 185, 65);

        }

        .swiper-pagination-bullet-active {
            background-color: rgb(0, 185, 65);
            /* Darker green for the active bullet */
            box-shadow: 0 1px 6px #fff;
        }

        .text-green-500 {
            color: rgb(0, 185, 65);
        }

        .text-green-400 {
            color: rgb(0, 185, 65);
        }

        .bg-green-500 {
            background-color: rgb(0, 185, 65);
        }

        .notification {
            display: none;

        }

        .testimonial {
            width: 80%;
            transform: scale(0.8);


        }

        .testimonial:hover {
            box-shadow: none;
            border: none;
            transform: scale(1);
        }

        .partners {

            transition-duration: 600;

        }

        .partners>img {
            transform: scale(0.7);
            box-shadow: 0px 0px 30px #00111f;
        }

        .partners:hover {
            box-shadow: none;
            border: none;
            transform: scale(1.1);
        }

        @keyframes appear {
            from {
                opacity: 0;
                scale: 0.5;
                transform: translateY(100%);

            }

            to {
                opacity: 1;
                scale: 1;
                transform: translateY(0%);

            }
        }

        @keyframes slide-left {
            from {
                opacity: 0;
                transform: translateX(-150%);
            }

            to {
                opacity: 1;
                transform: translateX(0%);
            }
        }

        @keyframes slide-right {
            from {
                opacity: 0;
                transform: translateX(150%);
            }

            to {
                opacity: 1;
                transform: translateX(0%);
            }
        }

        .up-animate {
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%;

        }

        .left-animate {
            animation: slide-left 2s linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }

        .right-animate {
            animation: slide-right 2s linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }

        .paralax {
            background-color: #ffffff;
            color: #00111f;
        }

        .paralax>section {
            background-color: #ffffff;
            color: #1f2021;
        }

        .paralax>section>h1 {
            color: #1f2021;
        }

        section {
            background-color: #fffefe;
            color: #1f2021;
        }

        li:hover {
            cursor: pointer;
        }

        ul {

            margin-left: 50px;
        }

        
        .blogs-heading-link:hover{
            
            text-decoration: underline 1.3px rgb(0, 185, 65);

        }

        .scrolling-text {
            margin: auto;
             white-space: nowrap;
             color: white;
             font-size: 1rem;
             /* Readable font size */
             font-weight: bold;
             
             /* Start off-screen */
         }